
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="/">
  Aprendiendo Angular Crud simple
  </a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <ul class="list-group">
        <li  *ngFor="let employee of employeeArray"
        class="list-group-item list-group-item-action"
        (click)="openEdit(employee)"
        [class.active]="employee ==  selectorEmployee">
        <span class="badge badge-primary">{{employee.id}}</span> {{ employee.name }} - {{ employee.country}}
        </li>
      </ul>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            Insertar datos
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectorEmployee.name" placeholder="Inserta un nombre"  class="form-control">
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectorEmployee.country" placeholder="Inserta un pais"  class="form-control">
          </div>
          <button (click)="addOrEdit()" class="btn btn-primary">
            Submit
          </button>
          <button
            *ngIf="selectorEmployee.id !== 0"
           class="btn btn-danger" (click)="delete()">
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <img  width="300" alt="Nigma" url="https://www.google.com/imgres?imgurl=https%3A%2F%2Fliquipedia.net%2Fcommons%2Fimages%2Fb%2Fb0%2FNIGMA_logo.png&imgrefurl=https%3A%2F%2Fliquipedia.net%2Fdota2%2FTeam_Nigma&tbnid=-cglFQpI9GIj9M&vet=12ahUKEwiL6JiYud3tAhVHBLkGHTzKCncQMygAegUIARCpAQ..i&docid=W-Ec6Vx14bn7xM&w=573&h=492&q=logo%20nigma&ved=2ahUKEwiL6JiYud3tAhVHBLkGHTzKCncQMygAegUIARCpAQ">
    </div>

  </div>

</div>
